/* the styles for the HTML elements */
html {
    background-color: rgb(192, 192, 192);
}
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 760px;
    margin: 0 auto;
    padding: 0 2em;
    background-color: white;
    border: 1px solid black;
    border-radius: 30px;
    border: 2px solid #008080;
}
header {
    border-bottom: 2px solid black;
    padding: .5em 0;
}
header h1 {
    color: red;
}
main {

}
aside {
    float: left;
    width: 150px;
}
section {
    float: left;
    width: 500px;
}
footer {
    clear: both;
    border-top: 2px solid black;
}
footer p {
    text-align: right;
    font-size: 80%;
}
h1 {
    font-size: 150%;
    margin: .5em 0;
}
h2 {
    font-size: 120%;
    margin: .25em 0 .5em;
}
h1, h2 {
    color: red;
}
ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    padding-bottom: 1em;
}
li {
    padding-bottom: 0.5em;
}
a {
    color: rgb(41, 64, 124);
    font-weight: bold;
}
a:hover {
    color: rgb(208, 133, 4);
}
br {
    clear: left;
}
table {
    border: 1px solid black;
    border-collapse: collapse;
    margin-bottom: 1em;
}
td, th {
    border: 1px dashed black;
    padding: .2em .5em .2em .5em;
    text-align: left;
}
form {

}
/* the styles for classes */
.right {
    text-align: right;
}
.first_paragraph {
    margin-top: 0;	
}
.last_paragraph {
    margin-bottom: 2em;	
}
/* the styles for the div tags that divide the page into sections */
#left_column {
    float: left;
    width: 150px;
    text-align: center;
}
#right_column {
    float: left;
    padding-left: 1em;
    padding-bottom: 2em;
}
/* Additional styles for the Product Manager application */
#add_product_form {
    margin: .5em 0;
}
#add_product_form label {
    width: 6em;
    padding-right: 1em;
    padding-bottom: .5em;
    float: left;
}
#add_product_form input {
    float: left;
}
#add_product_form input[text] {
    width: 15em;
}
//filter through
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  .carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%); /* make all photos black and white */ 
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }
  .modal-header, h4, .close {
    background-color: #333;
    color: #fff !important;
    text-align: center;
    font-size: 30px;
  }
  .modal-header, .modal-body {
    padding: 40px 50px;
  }
  .nav-tabs li a {
    color: #777;
  }
  #googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
  }  
  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  .form-control {
    border-radius: 0;
  }
  textarea {
    resize: none;
  }
  